@import '../../styles/variables';

.mosha__button {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 6px 12px;
  color: white;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &.lg {
    padding: 8px 16px;
    font-size: 20px;
  }

  &.sm {
    padding: 4px 8px;
    font-size: 14px;
  }

  &:disabled {
      cursor: not-allowed;
      color: #c8c9cc;
  }

  &.primary {
    
    background: $primary;
    background: radial-gradient(circle, $primary-light 70%, $primary-darker 100%);


    &:hover {
      background: radial-gradient(circle, $primary-darker 70%, $primary 100%);
    }

    

    &--outline {
      background: rgba( 145, 213, 255, 0.25 );
      color: $primary;
      border-color: $primary-light;
    }

    &--outline:hover {
      color: white;
      background: radial-gradient(circle, $primary-light 70%, $primary-darker 100%);
    }
  }

  &.success {
    background: $success;
    background: radial-gradient(circle, $success-light 70%, $success-darker 100%);


    &:hover {
      background: radial-gradient(circle, $success-darker 70%, $success 100%);
    }

    &--outline {
      background: rgba( 183, 235, 143, 0.25 );
      color: $success;
      border-color: $success-light;
    }

    &--outline:hover {
      color: white;
      background: radial-gradient(circle, $success-light 70%, $success-darker 100%);
    }
  }

  &.danger {
    background: $danger;
    background: radial-gradient(circle, $danger-light 70%, $danger-darker 100%);


    &:hover {
      background: radial-gradient(circle, $danger-darker 70%, $danger 100%);
    }

    &--outline {
      background: rgba( 255, 204, 199, 0.25 );
      color: $danger;
      border-color: $danger-light;
    }

    &--outline:hover {
      color: white;
      background: radial-gradient(circle, $danger-light 70%, $danger-darker 100%);
    }
  }

  &.warning {
    background: $warning;
    background: radial-gradient(circle, $warning-light 70%, $warning-darker 100%);


    &:hover {
      background: radial-gradient(circle, $warning-darker 70%, $warning 100%);
    }

    &--outline {
      background: rgba( 255, 229, 143, 0.25 );
      color: $warning;
      border-color: $warning-light;
    }

    &--outline:hover {
      color: white;
      background: radial-gradient(circle, $warning-light 70%, $warning-darker 100%);
    }
  }
}