@import '../../styles/variables';

.m-button {
  font-family: 'Roboto', sans-serif;
  padding: 6px 12px;
  color: white;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: none;
  }

  &.lg {
    padding: 8px 16px;
    font-size: 20px;
  }

  &.sm {
    padding: 4px 8px;
    font-size: 14px;
  }

  &.primary {
    background: $primary;


    &:hover {
      background-color: $primary-darker;
    }
  }

  &.success {
    background: $success;


    &:hover {
      background-color: $success-darker;
    }
  }

  &.danger {
    background: $danger;


    &:hover {
      background-color: $danger-darker;
    }
  }

  &.warning {
    background: $warning;


    &:hover {
      background-color: $warning-darker;
    }
  }
}