$primary: rgba(13, 110, 253);
$primary-darker: rgba(13, 110, 253, 0.9);
$primary-light: rgba(13, 110, 253, 0.75);

$success: rgba(25, 135, 84);
$success-darker: rgba(25, 135, 84, 0.9);
$success-light: rgba(25, 135, 84, 0.75);

$danger: rgba(220, 53, 69);
$danger-darker: rgba(220, 53, 69, 0.9);
$danger-light: rgba(220, 53, 69, 0.75);

$warning: rgba(255, 193, 7);
$warning-darker: rgba(255, 193, 7, 0.9);
$warning-light: rgba(255, 193, 7, 0.75);
