.mosha__alert {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.08);
    padding: 8px 16px;
    border-radius: 8px;

    &__close-icon::before {
        content: "\00d7"; // here is your X(cross) sign.
        color: rgba(0,0,0,.45);
        transition: color .3s;
        font-weight: 300;
        cursor: pointer;
    }

    &__close-icon:hover::before {
        color: rgba(0,0,0,1);
    }

    &__main-content {
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;
        word-break: break-word;

        &__title {
            font-weight: 400;
            font-size: 16px;
        }

        &__desc {
            font-weight: 300;
            font-size: 14px;
        }
    }

    & p {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    & .material-icons-round {
        margin-right: 8px;
        font-size: 16px;
        position: relative;
        top: 2px;

        &.withDescription {
            font-size: 24px;
            top: 0px;
        }
    }

    &.success {
        background: rgba( 183, 235, 143, 0.3 );
        & .material-icons-round {
            color: #52c41a;
        }
    }

    &.info {
        background: rgba( 145, 213, 255, 0.3 );
        & .material-icons-round {
            color: #1890ff;
        }
    }
    &.warning {
        background: rgba( 255, 229, 143, 0.3 );
        & .material-icons-round {
            color: #faad14;
        }
    }
    &.danger {
        background: rgba( 255, 204, 199, 0.3 );
        & .material-icons-round {
            color: #ff4d4f;
        }
    }
}

.alert-fade-enter-active, .alert-fade-leave-active {
    transition: opacity .5s;
}
.alert-fade-enter, .alert-fade-leave-to {
    opacity: 0;
}