  .home-hero .image {
    max-height: 400px !important;
    width: 400px;
    height: 400px;
    opacity: .8;
  }

  .home-hero #main-title {
    color: white !important;
  }
  
  .nav-bar .logo {
    height: 30px;
    margin-right: 2px;
  }

  .nav-bar,.sidebar {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur( 30px );
    border: solid 2px transparent;
    background: rgba(255,255,255, 0.2) !important;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
  }

  .content {
    padding: 10px;
    background-clip: padding-box;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur( 30px );
    border: solid 2px transparent;
    background: rgba(255,255,255, 0.2) !important;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
  }
  
  .content img {
    border-radius: 10px;
  }
  
  .nav-dropdown-link-item .icon {
    display: none;
  }
  
  :root {
    --c-brand: #646cff;
    --c-brand-light: #747bff;
  }
  
  .custom-block.tip {
    border-color: var(--c-brand-light);
  }
  
  .DocSearch {
    --docsearch-primary-color: var(--c-brand) !important;
  }

  .theme {
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .demo {
    height: 300px;
  }