.mosha__message {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 10px;
  padding: 6px 12px;
  background-color: black;
  color: white;
  z-index: 100;
  width: max-content;
}

.message-fade-enter-active, .message-fade-leave-active {
  transition: all 2s ease;
}
.message-fade-enter, .message-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}