.mosha__message {
  min-width: 380px;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top: 10px;
  padding: 8px 16px;
  color: black;
  z-index: 100;
  width: max-content;
  transition: all .3s ease-in-out;
  background: rgb(255,255,255);
  background: linear-gradient(145deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);

  &__close-icon::before {
    font-size: 20px;
    cursor: pointer;
    content: "\00d7";
    color: rgba(0,0,0,.45);
    transition: color .3s;
    font-weight: 300;
    font-size: 20px;
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    top: -1px
  }

  &__close-icon:hover::before {
      color: rgba(0,0,0,1);
  }

  & p {
    font-size: 16px;  
    margin: 0;
    padding: 0;
  }
  & .material-icons-round {
    margin-right: 8px;
    font-size: 20px;
  }

  &.default {
    & .material-icons-round {
        color: #2C3E50;
    }
  }

  &.success {
        background: rgba( 183, 235, 143 );
        background: linear-gradient(145deg, rgba(183, 235, 143,0.6) 0%, rgba(183, 235, 143,0.3) 100%);
        & .material-icons-round {
            color: #52c41a;
        }
    }

  &.info {
      background: rgba( 145, 213, 255 );
      background: linear-gradient(145deg, rgba(145, 213, 255,0.6) 0%, rgba(145, 213, 255,0.3) 100%);

      & .material-icons-round {
          color: #1890ff;
      }
  }
  &.warning {
      background: rgba( 255, 229, 143 );
      background: linear-gradient(145deg, rgba(255, 229, 143,0.6) 0%, rgba(255, 229, 143,0.3) 100%);
      & .material-icons-round {
          color: #faad14;
      }
  }
  &.danger {
      background: rgba( 255, 204, 199 );
      background: linear-gradient(145deg, rgba(255, 204, 199,0.6) 0%, rgba(255, 204, 199,0.3) 100%);
      & .material-icons-round {
          color: #ff4d4f;
      }
  }
}



.mosha__slide-enter-active, .mosha__slide-leave-active {
  transform: translateY(-100%);
  opacity: 0;
}
.mosha__slide-enter, .mosha__slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
